.button {
  border: 1px solid var(--aok-cornflower);
  background: var(--aok-cornflower);
  color: var(--aok-white);
  padding: 12px 24px;
  border-radius: 6px;
  text-decoration: none;
  transition: 0.25s;

  .uk-icon {
    svg {
      polygon,
      circle {
        stroke: var(--aok-white) !important;
      }
    }
  }

  &:hover {
    color: var(--aok-yellow);
    text-decoration: none;

    .uk-icon {
      svg {
        polygon,
        circle {
          stroke: var(--aok-yellow) !important;
        }
      }
    }
  }

  
}
