$font_path: '~@/assets/fonts/';

@font-face {
  font-family: 'Boulevard';
  src: url($font_path + 'boulevard-webfont.woff2') format('woff2'),
       url($font_path + 'boulevard-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Luis Sans Regular';
  src: url($font_path + 'luisssans-regular-webfont.woff') format('woff'),
        url($font_path + 'luisssans-regular-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Luis Sans Bold';
  src: url($font_path + 'luisssans-bold-webfont.woff') format('woff'),
        url($font_path + 'luisssans-bold-webfont.woff') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Luis Sans Regular", sans-serif;
  font-size: 18px;
  color: var(--aok-black);
}

.calligraphy {
  font-family: "Boulevard", sans-serif !important;
}

.lsbold {
  font-family: "Luis Sans Bold", sans-serif !important;
}

.bold {
  font-weight: bold;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
  font-weight: 300;
}